body {
    font-family: Arial, sans-serif;
    background-color: #611a1a;
     
}



.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #007BFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

.input-wrapper {
    margin-top: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #611a1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button{
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #ff5945;
    color: #fff;
    font-size: 18px;
    transition: all .25s ease;
}
button:hover{
    filter: brightness(.8);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}

.delete {
    color: #ff0000;
    cursor: pointer;
}
